---
layout: layout.html
permalink: /schedule/
---
<div class="schedule">
  {% include button.html.liquid left_content="Pre BAR" content="Tuesday" size="larger" theme="blue" %}
  {% include button.html.liquid left_content="Pre BAR" content="Wednesday" size="larger" theme="blue" %}
  {% include button.html.liquid left_content="August 1" content="Thursday" size="larger" %}
  {% include button.html.liquid left_content="August 2" content="Friday" size="larger" %}
  {% include button.html.liquid left_content="August 3" content="Saturday" size="larger" %}
  {% include button.html.liquid left_content="August 4" content="Sunday" size="larger" %}
</div>
