.index-logo {
  text-align: center;

  img {
    width: 500px;
  }
}

.index-date {
  @include font-size-large();
  padding: $spacing24px;
  text-align: center;
}

.index-buttons {
  display: flex;
  flex-direction: column;
  gap: $spacing24px;
}
