---
title: Home

nav: 1
---
<div class="index-logo">
  <img src="{{ 'assets/img/logo/bar.png' | relative_url }}">
</div>
<div class="index-date">August 1-4, 2024</div>
<div class="index-buttons">
  {% include button.html href='google.com' content="Book a room" %}
  {% include button.html href='google.com' content="Register" %}
  {% include button.html href='google.com' content="Buy a shirt" %}
  {% include button.html href='google.com' content="Buy a raffle ticket" %}
  {% include button.html href='google.com' content="Buy Saturday night party tickets" %}
</div>