:root {
  /* Font families */
  --font-family-open-sans: "Open Sans", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-material-symbols-outlined: "Material Symbols Outlined";

  /* Font sizes */
  --font-size-_8: 0.875em;
  --font-size-1_25: 1.25em;
  --font-size-1_5: 1.5em;
  --font-size-2: 2em;
  --font-size-2_5: 2.5em;
  --font-size-3: 3em;
  --font-size-4: 4em;
  --font-size-5: 5em;

  /* Font weights */
  --font-weight-300: 300;
  --font-weight-400: 300;
  --font-weight-500: 500;
  --font-weight-600: 600;

  /* - */
  --letter-spacing-16: 0.16em;
  --letter-spacing-minus02: -0.02em;
}
