/* spacing */
:root {
  /* 1em = 16px */
  --spacing-25: 0.25em;
  --spacing-50: 0.5em;
  --spacing-75: 0.75em;
  --spacing-1: 1em;
  --spacing-1_5: 1.5em;
  --spacing-2: 2em;
  --spacing-3: 3em;
  --spacing-6: 6em;
}
