.events {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: var(--spacing-75) var(--spacing-1_5);

  & .event {
    display: contents;

    & .eventTime {
      & .eventTimeText {
        font-family: var(--font-family-oswald);
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-500);
        letter-spacing: var(--letter-spacing-minus02);
      }
    }

    & .eventSeparator {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--color-border);
      }
    }

    & .eventName {
      grid-column: 2 / 3;
      margin-bottom: var(--spacing-1);

      & .eventNameText {
        font-family: var(--font-family-oswald);
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-500);
        text-transform: uppercase;
      }
    }
  }
}
