.shopProduct {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: var(--spacing-2);

  & .shopProductImages {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);

    & .shopProductImage {
      border-radius: var(--spacing-1);
    }
  }

  & .shopProductDetails {
    grid-column: 2 / 3;
  }
}
