.item {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: var(--spacing-2);

  & .itemImages {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);

    & .itemImage {
      border-radius: var(--spacing-1);
    }
  }

  & .itemDetails {
    grid-column: 2 / 3;
  }
}
