.textButton {
  color: var(--color-text);
  cursor: pointer;
  user-select: none;

  &.is-current {
    color: var(--color-accent-1);
  }

  &:hover {
    color: var(--color-accent-3);
  }

  &:active {
    color: var(--color-accent-2);
  }
}

.textButtonText {
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-_8);
  font-weight: var(--font-weight-300);
  letter-spacing: var(--letter-spacing-16);
  text-transform: uppercase;
}
