.button {
  @include font-family-oswald();

  display: flex;
  align-items: stretch;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: $green;
    color: white;
  }

  &:active {
    background: $blue;
    color: white;
  }

  .button-left_content {
    @include font-size-large();
    background: $green;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .button-content {
    @include font-size-large();
    flex: 1;
    padding: $spacing8px;
    text-align: center;
  }

  &.button--orangeTheme {
    background: $orange;

    &:hover {
      background: $blue;
    }

    &:active {
      background: $green;
    }
  }

  &.button--blueTheme {
    background: $blue;

    &:hover {
      background: $green;
    }

    &:active {
      background: $orange;
    }
  }

  &.button--greenTheme {
    background: $green;

    &:hover {
      background: $orange;
    }

    &:active {
      background: $blue;
    }
  }

  &.button--largerSize {
    .button-content {
      @include font-size-larger();
    }
  }
}
