<nav>
  {% for item in site.data.navigation %}
    <a
      href="{{ item.url | relative_url }}"
      {% if item.url == page.url %}
        class="current"
      {% endif %}
    >
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
