@mixin font-family-open-sans() {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin font-family-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin font-size-small() {
  font-size: 0.875em;
  font-weight: 200;
  letter-spacing: 0.16em;
}

@mixin font-size-large() {
  font-size: 2em;
  font-weight: 500;
}

@mixin font-size-larger() {
  font-size: 5em;
  font-weight: 500;
}
