$green: #7fb64d;
$orange: #f69a34;
$blue: #6699cf;


$text-color: #1e3566;
$border-color: rgba(0, 0, 0, .05);
$background-color: white;

body {
  background: $background-color;
}

body, a {
  color: $text-color;
}

a:active {
  color: $blue;
}

a.current {
  color: $orange;
}