body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--openSans-font-family);
  font-size: 100%;
  line-height: 1.6;
}

a {
  color: var(--text-color);

  &:hover {
    color: var(--blue);
  }

  &:active {
    color: var(--green);
  }

  &.current {
    color: var(--orange);
  }
}
