.content {
  margin: 0 auto;
  max-width: 100%;
  width: 1160px;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: var(--spacing-1_5);
  z-index: 1;

  & .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-75) 0;
  }

  & .headerLogo {
    font-family: var(--font-family-oswald);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-500);
    letter-spacing: var(--letter-spacing-minus02);
    text-transform: uppercase;
    text-decoration: none;
  }

  & .headerNav {
    display: flex;
    gap: var(--spacing-1_5);

    & .headerNavItem {
      font-family: var(--font-family-oswald);
      font-size: var(--font-size-_8);
      font-weight: var(--font-weight-300);
      letter-spacing: var(--letter-spacing-16);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.main {
  margin-bottom: var(--spacing-6);
}
