.index-logo {
  display: flex;
  justify-content: center;
}

.index-date {
  padding: var(--spacing24px);
  font-size: var(--large-font-size);
  font-weight: var(--large-font-weight);
  text-align: center;
}

.index-menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing24px);
}
