.shopProducts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-2);
}

.shopProductLink {
  text-decoration: none;
}

.shopProductImage {
  border-radius: var(--spacing-1);
}

@media (--phone-breakpoint) {
  .shopProducts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
