.shopItems {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-2);
}

.shopItemLink {
  text-decoration: none;
}

.shopItemImage {
  border-radius: var(--spacing-1);
}
