header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  .logo {
    @include font_oswald();
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: 1em;
  
    a {
      @include font_oswald();
      font-size: 13px;
      font-weight: 200;
      letter-spacing: 2.5px;
      text-decoration: none;
      text-transform: uppercase;
    }
  
    .navigation-logoItem {
      margin: 0 .5em;
    }
  
    .navigation-logoItem-facebook {
      display: flex;
      background: black;
      border-radius: 2px;
      padding: 1px;
    }
  }
}