.truc {
  color: red;
}

.button * {
  top: calc(1em+ 2em);
}

.button {
  display: flex;
  align-items: stretch;
  color: white;
  font-family: var(--oswald-font-family);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: white;
  }

  &.button--orange-Tuc {
    color: red;
  }

  &.button--orangeTheme {
    background: var(--orange);

    &:hover {
      background: var(--blue);
    }

    &:active {
      background: var(--green);
    }
  }

  &.button--blueTheme {
    background: var(--blue);

    &:hover {
      background: var(--green);
    }

    &:active {
      background: var(--orange);
    }
  }

  &.button--greenTheme {
    background: var(--green);

    &:hover {
      background: var(--orange);
    }

    &:active {
      background: var(--blue);
    }
  }
}

.button-content {
  flex: 1;
  padding: var(--spacing8px);
  font-size: var(--large-font-size);
  font-weight: var(--large-font-weight);
  text-align: center;
}
