.button {
  display: flex;
  align-items: stretch;
  color: white;
  font-family: var(--oswald-font-family);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: white;
  }
}

.button--orangeColor {
  background: var(--orange);

  &:hover {
    background: var(--blue);
  }

  &:active {
    background: var(--green);
  }
}

.button--blueColor {
  background: var(--blue);

  &:hover {
    background: var(--green);
  }

  &:active {
    background: var(--orange);
  }
}

.button--greenColor {
  background: var(--green);

  &:hover {
    background: var(--orange);
  }

  &:active {
    background: var(--blue);
  }
}

.button-banner {
  font-size: 2em;
  font-weight: 500;
  background: var(--green);
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.button-content {
  flex: 1;
  padding: var(--spacing8px);
  font-size: var(--large-font-size);
  font-weight: var(--large-font-weight);
  text-align: center;

  .button--large & {
    padding: 0.5em;
    font-size: 5em;
  }
}
