.button {
  display: flex;
  align-items: stretch;
  color: white;
  font-family: var(--oswald-font-family);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: white;
  }

  &.is-orangeColor {
    background: var(--orange);

    &:hover {
      background: var(--blue);
    }

    &:active {
      background: var(--green);
    }
  }

  &.is-blueColor {
    background: var(--blue);

    &:hover {
      background: var(--green);
    }

    &:active {
      background: var(--orange);
    }
  }

  &.is-greenColor {
    background: var(--green);

    &:hover {
      background: var(--orange);
    }

    &:active {
      background: var(--blue);
    }
  }

  & .buttonBanner {
    font-size: 2em;
    font-weight: 500;
    background: var(--green);
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  & .buttonLabel {
    flex: 1;
    padding: var(--spacing8px);
    font-size: var(--large-font-size);
    font-weight: var(--large-font-weight);
    text-align: center;

    .is-large & {
      padding: 0.5em;
      font-size: 5em;
    }
  }
}
