.button {
  display: flex;
  align-items: stretch;
  color: white;
  font-family: var(--font-family-oswald);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: white;
  }

  &.is-accent1 {
    background: var(--color-accent-1);

    &:hover {
      background: var(--color-accent-3);
    }

    &:active {
      background: var(--color-accent-2);
    }
  }

  &.is-accent2 {
    background: var(--color-accent-2);

    &:hover {
      background: var(--color-accent-1);
    }

    &:active {
      background: var(--color-accent-3);
    }
  }

  &.is-accent3 {
    background: var(--color-accent-3);

    &:hover {
      background: var(--color-accent-2);
    }

    &:active {
      background: var(--color-accent-1);
    }
  }

  & .buttonBanner {
    background: var(--color-accent-2);
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    & .buttonBannerText {
      font-size: var(--font-size-2_5);
      font-weight: var(--font-weight-500);
    }
  }

  & .buttonLabel {
    flex: 1;
    padding: var(--spacing-50);
    text-align: center;

    & .buttonLabelText {
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-500);
      letter-spacing: var(--letter-spacing-minus02);
    }

    .is-large & {
      padding: var(--spacing-2);

      & .buttonLabelText {
        font-size: var(--font-size-5);
      }
    }
  }
}
