.link {
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    color: var(--color-accent-3);
  }

  &:active {
    color: var(--color-accent-2);
  }

  &.current {
    color: var(--color-accent-1);
  }
}
