.pagination {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing12px);

  & .paginationPrevious {
    grid-column: 1 / 2;
  }

  & .paginationNext {
    grid-column: 2 / 3;
    text-align: right;
  }
}
