.pagination {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-75);
}

.paginationPrevious {
  grid-column: 1 / 2;
  justify-self: start;
}

.paginationNext {
  grid-column: 2 / 3;
  justify-self: end;
  text-align: right;
}

.paginationText {
  display: flex;
  gap: var(--spacing-25);
  align-items: center;
}
