---
layout: default
---

{% include shop/shop_header.html %}

<div class="shop_tshirt">
  <div class="shop_tshirt-images">
    <img
      class="shop_tshirt-image"
      src="{{ page.shop_image_path | relative_url }}"
      alt="{{ page.title }}">
    <img
      class="shop_tshirt-image"
      src="{{ page.shop_image2_path | relative_url }}"
      alt="{{ page.title }}">
  </div>
  <div>
    <h1>{{ page.title }}</h1>
    <p>
      {{ page.content }}
    </p>
    <div>
      {% capture cart_url %}/shop/cart#{{ page.shop_id }}{% endcapture %}
      {% assign cart_relative_url = cart_url | relative_url %}
      {% include button.html href=cart_relative_url content="Add to cart" theme=page.shop_button_theme %}
    </div>
    <p>
      T-shirts must be picked-up during registration on Friday or Saturday.
    </p>
  </div>
</div>