<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title.size > 0 %}
        {{ page.title }} -
      {% endif %}
      BIG APPLE ROLL 2024
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
  <body>
    <div class="default-headerWrapper">
      <div class="default-content">
        <header>
          <a class="logo" href="{{ "/" | relative_url }}">Big Apple Roll 2024</a>
          <nav>
            {% assign nav_html_pages = site.html_pages | where_exp: "html_page", "html_page.nav" | sort: "nav" %}
            {% for html_page in nav_html_pages %}
              <a
                href="{{ html_page.url | relative_url }}"
                {% if html_page.url == page.url %}
                class="current"
                {% endif %}>
                {{ html_page.title | default: "Page" }}
              </a>
            {% endfor %}
            <a
              class="navigation-logoItem"
              href="https://www.instagram.com/bigappleroll/"
              target="_blank">
              <img
                src="{{ 'assets/img/socials/Instagram_Glyph_Black.svg' | relative_url }}"
                width="20"
                height="20">
            </a>
            <a
              class="navigation-logoItem"
              href="https://www.facebook.com/events/1229407841375481"
              target="_blank">
              <span class="navigation-logoItem-facebook">
                <img
                  src="{{ "assets/img/socials/Facebook_Logo_Secondary.png" | relative_url }}"
                  width="20"
                  height="20">
              </span>
            </a>
          </nav>
        </header>
      </div>
    </div>
    <div class="default-content">
      <main>
        {{ content }}
      </main>
    </div>
    <footer></footer>
  </body>
</html>